/* overrides and additions to bootstrap-tour-standalone.css */
.popover-content {
    font-size: 87.5%;
}
.tour-step-element-reflex {
    border-style: solid;
    border-width: 2px;
    border-color: cyan;
}
