/* overrides and additions to bootstrap-tour.css */
.popover-content {
    font-size: 87.5%;
}
h3.popover-title {
    display: block;
}
.tour-step-element-reflex {
    border-style: solid;
    border-width: 2px;
    border-color: cyan;
}
